@model MVC_Expense_Tracker.Models.Transaction

@{
    ViewData["PageTitle"] = "Create a new transaction";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <ejs-datepicker id="date" ejs-for="Date" placeholder="Date" floatLabelType="Always" format="MMM-dd-yy"></ejs-datepicker>
                </div>
                <div class="mb-3">
                    <ejs-dropdownlist id="ddl" ejs-for="CategoryId" dataSource="@ViewBag.Categories" 
                    placeholder="Category" floatLabelType="Always" allowFiltering="true" 
                    ignoreAccent="true" filterType="Contains" popupHeight="240px">
                        <e-dropdownlist-fields value="CategoryId" text="TitleAndIcon"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="CategoryId" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-numerictextbox id="amount" ejs-for="Amount" placeholder="Amount" floatLabelType="Always" min=0 format="c0"></ejs-numerictextbox>
                    <span asp-validation-for="Amount" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="desc" placeholder="Description" ejs-for="Description" floatLabelType="Always" multiline></ejs-textbox>
                </div> 
                <div class="mb-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@*
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@